.span8
  %h1 All universities
  %ul#university_list
    = render partial: "university_list_items"
.span4
  %h2 Search
  %form
    %input{id: "searchField", type: :search, placeholder: "name of university"}

:javascript
  $(function() {
    $("#searchField").on("keydown", _.debounce(function () {
      var query = $("#searchField").val();
      $("#university_list").load('/universities?replace=true&q=' + escape(query));
    }, 500));
  });
