- content_for(:title, @university.label)
.span12{about: @university.id}
  %p{property: "http://dbpedia.org/property/students", content: @university.nr_students} Number of students: #{@university.nr_students}
  - if @university.geo_lat && @university.geo_long
    %h2 Location
    #map_div
    :javascript
      google.load("visualization", "1", {packages:["map"]});
      google.setOnLoadCallback(drawMap);
      function drawMap() {
        var data = google.visualization.arrayToDataTable([
          ['Lat', 'Lon', 'Name'],
          [#{@university.geo_lat}, #{@university.geo_long}, '#{@university.label}'],
        ]);

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {showTip: true});
      }
  %h2 People who studied hier
  %ul
    - @people.each do |person|
      %li= link_to(person.full_name, person_url(person))
