html
  background-color: #eee

body
  background-color: #eee
  padding-top: 40px
  /* 40px to make the container go all the way to the bottom of the topbar

.container
  > footer p
    text-align: center
    /* center align it with the container

/* The white background content wrapper

.content
  background-color: #fff
  padding: 20px
  margin: 0 -20px
  /* negative indent the amount of the padding to maintain the grid system
  -webkit-border-radius: 0 0 6px 6px
  -moz-border-radius: 0 0 6px 6px
  border-radius: 0 0 6px 6px
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)

/* Styles you shouldn't keep as they are for displaying this base example only

.content
  h1
    margin-bottom: 15px
  .span10
    min-height: 500px
  .span3
    min-height: 500px
    margin-left: 0
    padding-left: 19px
    border-left: 1px solid #eee

/* Give a quick and non-cross-browser friendly divider

.topbar .btn
  border: 0

table
  td.abs
    text-align: right

  td.percentage
    border-left: 0
    font-size: 0.8em
