.span8
  %h1 All movies
  %ul#movie_list
    = render partial: "movie_list_items"
.span4
  %h2 Search
  %form
    %input{id: "searchField", type: :search, placeholder: "name of movie"}

:javascript
  $(function() {
    $("#searchField").on("keydown", _.debounce(function () {
      var query = $("#searchField").val();
      $("#movie_list").load('/movies?replace=true&q=' + escape(query));
    }, 500));
  });
