- content_for(:title, @movie.title)
.span12{about: @movie.id}
  %h2 Trailer
  %iframe{property:"vocab:youtubeTrailer", content: @movie.youtube_id, src:"http://www.youtube.com/embed/#{@movie.youtube_id}", width:640, height:480, frameborder:0}
  %h2 People (TODO)
  %ul
    - @people.each do |person|
      %li= link_to(person.full_name, person_path(person))
