- @people.each do |person|
  -next if person.full_name.blank?
  - person_url = person_path(CGI.escape(person.id))
  %li
    =# link_to(image_tag(person.thumbnail), person_url)
    = link_to(person.full_name, person_url)
    (
    = link_to(person.id, person.id)
    )
  -#  %li= link_to(university.label || "Unkown; id:" + university.id, university_path(university))
