.span8
  %h1 All people
  %ul#people_list
    = render partial: "people_list_items"
.span4
  %h2 Search
  %form
    %input{id: "searchField", type: :search, placeholder: "name of person"}

:javascript
  $(function() {
    $("#searchField").on("keydown", _.debounce(function () {
      var query = $("#searchField").val();
      $("#people_list").load('/people?replace=true&q=' + escape(query));
    }, 500));
  });
