- content_for(:title, @person.full_name)
.span12{about: @person.id}
  = image_tag(@person.thumbnail, id: "thumb", property: "http://dbpedia.org/ontology/thumbnail")
  %h2 Description
  %p{property: "rdfs:comment"}= @person.comment
  %h2 Universities
  %ul
    - @universities.each do |university|
      %li= link_to(university.label, university_path(university))
:css
  #thumb {
    float:right;
  }
